In [ ]:
import networkx as nx
import dgl
import numpy as np

In [85]:
import pandas as pd
rating_df = pd.read_csv('./data/rating_data.csv', sep=',')
rating_df

         user   item  rating
0           1    104     2.0
1           1    106     5.0
2           1    107     5.0
3           1    108     5.0
4           1    109     3.0
...       ...    ...     ...
273974  43486  19679     2.0
273975  43486    363     3.0
273976  43486  44038     2.0
273977  43486  61575     5.0
273978  43486  66546     5.0

[273979 rows x 3 columns]

In [86]:
link_df = pd.read_csv('./data/link_data.csv', sep=',')
link_df

        user1  user2  weight
0        2824   2696     1.0
1        2824  18333     1.0
2        2824  10308     1.0
3        2824   1176     1.0
4        2824    208     1.0
...       ...    ...     ...
303308    615   1294     1.0
303309    615   1096     1.0
303310    615    145     1.0
303311    615   1499     1.0
303312    615    330     1.0

[303313 rows x 3 columns]

In [ ]:
rating_df.user.value_counts().sort_index().index

In [ ]:
link_df.user1.value_counts().sort_index().index

In [ ]:
# 保证rating和link里面的user一致
(~rating_df.user.value_counts().sort_index().index == link_df.user1.value_counts().sort_index().index).sum()

In [ ]:
(~rating_df.user.value_counts().sort_index().index == link_df.user2.value_counts().sort_index().index).sum()

In [105]:
item_N = len(rating_df.item.value_counts())
item_N

19212

In [106]:
user_N = len(rating_df.user.value_counts())
user_N

7968

In [ ]:
u_array = np.arange(user_N)
u_array

In [ ]:
i_array = np.arange(user_N, user_N + item_N)
i_array

In [ ]:
# 生成字典
sorted_user_idx_lst = sorted(rating_df.user.value_counts().index)
sorted_user_idx_lst

In [ ]:
user_raw_idx2new_idx = {}
user_new_idx2raw_idx = {}
for i in range(len(sorted_user_idx_lst)):
    raw_id = sorted_user_idx_lst[i]
    new_id = int(u_array[i])
    # print(type(raw_id), type(new_id))
    user_raw_idx2new_idx[raw_id] = new_id
    user_new_idx2raw_idx[new_id] = raw_id
    # print(user_raw_idx2new_idx)

In [102]:
user_raw_idx2new_idx

{1: 0,
 2: 1,
 4: 2,
 5: 3,
 7: 4,
 8: 5,
 9: 6,
 11: 7,
 12: 8,
 14: 9,
 16: 10,
 19: 11,
 20: 12,
 21: 13,
 22: 14,
 23: 15,
 24: 16,
 27: 17,
 28: 18,
 29: 19,
 30: 20,
 31: 21,
 32: 22,
 33: 23,
 34: 24,
 35: 25,
 38: 26,
 40: 27,
 41: 28,
 42: 29,
 45: 30,
 46: 31,
 47: 32,
 48: 33,
 50: 34,
 51: 35,
 53: 36,
 56: 37,
 57: 38,
 58: 39,
 59: 40,
 60: 41,
 61: 42,
 62: 43,
 65: 44,
 66: 45,
 67: 46,
 68: 47,
 69: 48,
 71: 49,
 72: 50,
 73: 51,
 74: 52,
 76: 53,
 77: 54,
 78: 55,
 79: 56,
 80: 57,
 81: 58,
 82: 59,
 85: 60,
 86: 61,
 87: 62,
 89: 63,
 90: 64,
 91: 65,
 92: 66,
 93: 67,
 94: 68,
 95: 69,
 96: 70,
 99: 71,
 102: 72,
 103: 73,
 105: 74,
 108: 75,
 109: 76,
 110: 77,
 111: 78,
 112: 79,
 114: 80,
 115: 81,
 116: 82,
 117: 83,
 118: 84,
 120: 85,
 121: 86,
 122: 87,
 123: 88,
 124: 89,
 125: 90,
 127: 91,
 128: 92,
 129: 93,
 130: 94,
 132: 95,
 133: 96,
 134: 97,
 135: 98,
 136: 99,
 137: 100,
 138: 101,
 139: 102,
 140: 103,
 142: 104,
 143: 105,
 144: 106,
 145: 107,
 146: 108,
 147: 109,
 148: 110,
 150: 111,
 152: 112,
 153: 113,
 154: 114,
 155: 115,
 156: 116,
 157: 117,
 158: 118,
 159: 119,
 160: 120,
 161: 121,
 162: 122,
 163: 123,
 164: 124,
 165: 125,
 166: 126,
 167: 127,
 169: 128,
 171: 129,
 172: 130,
 173: 131,
 174: 132,
 176: 133,
 177: 134,
 178: 135,
 179: 136,
 180: 137,
 181: 138,
 182: 139,
 183: 140,
 185: 141,
 186: 142,
 187: 143,
 188: 144,
 189: 145,
 190: 146,
 191: 147,
 193: 148,
 194: 149,
 195: 150,
 198: 151,
 199: 152,
 201: 153,
 202: 154,
 203: 155,
 204: 156,
 205: 157,
 206: 158,
 207: 159,
 208: 160,
 209: 161,
 210: 162,
 211: 163,
 212: 164,
 214: 165,
 215: 166,
 216: 167,
 218: 168,
 219: 169,
 220: 170,
 223: 171,
 224: 172,
 225: 173,
 226: 174,
 227: 175,
 228: 176,
 229: 177,
 230: 178,
 231: 179,
 232: 180,
 233: 181,
 234: 182,
 235: 183,
 236: 184,
 237: 185,
 238: 186,
 239: 187,
 240: 188,
 241: 189,
 243: 190,
 244: 191,
 245: 192,
 246: 193,
 247: 194,
 248: 195,
 249: 196,
 251: 197,
 252: 198,
 254: 199,
 255: 200,
 256: 201,
 257: 202,
 259: 203,
 260: 204,
 262: 205,
 263: 206,
 264: 207,
 265: 208,
 266: 209,
 267: 210,
 268: 211,
 269: 212,
 271: 213,
 272: 214,
 273: 215,
 274: 216,
 275: 217,
 276: 218,
 277: 219,
 278: 220,
 279: 221,
 280: 222,
 281: 223,
 282: 224,
 283: 225,
 284: 226,
 285: 227,
 286: 228,
 287: 229,
 288: 230,
 289: 231,
 290: 232,
 291: 233,
 292: 234,
 293: 235,
 294: 236,
 295: 237,
 296: 238,
 297: 239,
 298: 240,
 299: 241,
 300: 242,
 301: 243,
 302: 244,
 303: 245,
 304: 246,
 305: 247,
 307: 248,
 308: 249,
 309: 250,
 310: 251,
 312: 252,
 314: 253,
 315: 254,
 317: 255,
 318: 256,
 319: 257,
 320: 258,
 321: 259,
 322: 260,
 323: 261,
 324: 262,
 325: 263,
 326: 264,
 328: 265,
 329: 266,
 330: 267,
 331: 268,
 332: 269,
 333: 270,
 334: 271,
 335: 272,
 336: 273,
 337: 274,
 338: 275,
 339: 276,
 340: 277,
 341: 278,
 342: 279,
 343: 280,
 344: 281,
 345: 282,
 346: 283,
 347: 284,
 348: 285,
 349: 286,
 352: 287,
 353: 288,
 354: 289,
 355: 290,
 356: 291,
 357: 292,
 358: 293,
 360: 294,
 361: 295,
 362: 296,
 363: 297,
 364: 298,
 366: 299,
 367: 300,
 368: 301,
 369: 302,
 370: 303,
 373: 304,
 374: 305,
 375: 306,
 376: 307,
 377: 308,
 378: 309,
 379: 310,
 380: 311,
 381: 312,
 382: 313,
 383: 314,
 385: 315,
 386: 316,
 387: 317,
 388: 318,
 389: 319,
 390: 320,
 391: 321,
 392: 322,
 393: 323,
 394: 324,
 395: 325,
 396: 326,
 397: 327,
 398: 328,
 399: 329,
 400: 330,
 401: 331,
 402: 332,
 403: 333,
 405: 334,
 406: 335,
 407: 336,
 408: 337,
 409: 338,
 410: 339,
 411: 340,
 412: 341,
 413: 342,
 414: 343,
 415: 344,
 416: 345,
 417: 346,
 418: 347,
 419: 348,
 420: 349,
 421: 350,
 422: 351,
 423: 352,
 424: 353,
 425: 354,
 426: 355,
 427: 356,
 428: 357,
 429: 358,
 430: 359,
 431: 360,
 432: 361,
 433: 362,
 434: 363,
 435: 364,
 437: 365,
 438: 366,
 439: 367,
 440: 368,
 441: 369,
 442: 370,
 443: 371,
 444: 372,
 445: 373,
 446: 374,
 447: 375,
 448: 376,
 449: 377,
 450: 378,
 451: 379,
 452: 380,
 453: 381,
 454: 382,
 455: 383,
 456: 384,
 457: 385,
 458: 386,
 459: 387,
 460: 388,
 461: 389,
 462: 390,
 463: 391,
 464: 392,
 465: 393,
 467: 394,
 469: 395,
 470: 396,
 471: 397,
 472: 398,
 473: 399,
 474: 400,
 475: 401,
 476: 402,
 477: 403,
 478: 404,
 479: 405,
 480: 406,
 481: 407,
 483: 408,
 484: 409,
 485: 410,
 486: 411,
 487: 412,
 488: 413,
 489: 414,
 490: 415,
 491: 416,
 492: 417,
 493: 418,
 494: 419,
 495: 420,
 496: 421,
 498: 422,
 499: 423,
 501: 424,
 502: 425,
 504: 426,
 505: 427,
 508: 428,
 510: 429,
 511: 430,
 514: 431,
 515: 432,
 516: 433,
 517: 434,
 518: 435,
 520: 436,
 522: 437,
 523: 438,
 524: 439,
 526: 440,
 527: 441,
 528: 442,
 529: 443,
 533: 444,
 539: 445,
 545: 446,
 547: 447,
 556: 448,
 558: 449,
 559: 450,
 560: 451,
 561: 452,
 562: 453,
 563: 454,
 565: 455,
 566: 456,
 568: 457,
 569: 458,
 570: 459,
 571: 460,
 572: 461,
 573: 462,
 574: 463,
 575: 464,
 576: 465,
 578: 466,
 579: 467,
 580: 468,
 581: 469,
 582: 470,
 583: 471,
 584: 472,
 585: 473,
 586: 474,
 587: 475,
 588: 476,
 589: 477,
 590: 478,
 591: 479,
 592: 480,
 594: 481,
 596: 482,
 597: 483,
 598: 484,
 599: 485,
 602: 486,
 603: 487,
 605: 488,
 606: 489,
 607: 490,
 608: 491,
 609: 492,
 610: 493,
 611: 494,
 612: 495,
 613: 496,
 615: 497,
 616: 498,
 617: 499,
 618: 500,
 619: 501,
 620: 502,
 621: 503,
 622: 504,
 623: 505,
 624: 506,
 625: 507,
 626: 508,
 627: 509,
 628: 510,
 629: 511,
 630: 512,
 631: 513,
 632: 514,
 633: 515,
 634: 516,
 635: 517,
 636: 518,
 637: 519,
 638: 520,
 639: 521,
 640: 522,
 641: 523,
 643: 524,
 644: 525,
 646: 526,
 647: 527,
 648: 528,
 649: 529,
 650: 530,
 651: 531,
 652: 532,
 653: 533,
 654: 534,
 655: 535,
 656: 536,
 657: 537,
 658: 538,
 660: 539,
 661: 540,
 662: 541,
 663: 542,
 665: 543,
 666: 544,
 667: 545,
 668: 546,
 669: 547,
 670: 548,
 671: 549,
 672: 550,
 673: 551,
 674: 552,
 675: 553,
 676: 554,
 677: 555,
 679: 556,
 680: 557,
 681: 558,
 682: 559,
 683: 560,
 684: 561,
 685: 562,
 686: 563,
 687: 564,
 688: 565,
 689: 566,
 690: 567,
 691: 568,
 692: 569,
 693: 570,
 694: 571,
 695: 572,
 696: 573,
 697: 574,
 698: 575,
 700: 576,
 701: 577,
 703: 578,
 704: 579,
 705: 580,
 706: 581,
 707: 582,
 708: 583,
 709: 584,
 710: 585,
 711: 586,
 712: 587,
 713: 588,
 714: 589,
 715: 590,
 716: 591,
 717: 592,
 718: 593,
 719: 594,
 720: 595,
 721: 596,
 723: 597,
 724: 598,
 725: 599,
 726: 600,
 727: 601,
 728: 602,
 729: 603,
 731: 604,
 732: 605,
 733: 606,
 734: 607,
 735: 608,
 736: 609,
 737: 610,
 738: 611,
 739: 612,
 741: 613,
 743: 614,
 745: 615,
 746: 616,
 747: 617,
 748: 618,
 749: 619,
 750: 620,
 751: 621,
 752: 622,
 754: 623,
 755: 624,
 758: 625,
 759: 626,
 760: 627,
 766: 628,
 767: 629,
 768: 630,
 769: 631,
 770: 632,
 771: 633,
 772: 634,
 773: 635,
 774: 636,
 775: 637,
 776: 638,
 777: 639,
 778: 640,
 779: 641,
 780: 642,
 781: 643,
 782: 644,
 783: 645,
 784: 646,
 785: 647,
 786: 648,
 787: 649,
 788: 650,
 789: 651,
 790: 652,
 793: 653,
 794: 654,
 795: 655,
 796: 656,
 798: 657,
 800: 658,
 801: 659,
 802: 660,
 803: 661,
 804: 662,
 805: 663,
 807: 664,
 808: 665,
 809: 666,
 810: 667,
 811: 668,
 812: 669,
 813: 670,
 814: 671,
 815: 672,
 816: 673,
 817: 674,
 819: 675,
 821: 676,
 822: 677,
 823: 678,
 824: 679,
 825: 680,
 826: 681,
 827: 682,
 828: 683,
 829: 684,
 830: 685,
 831: 686,
 832: 687,
 833: 688,
 834: 689,
 835: 690,
 836: 691,
 837: 692,
 838: 693,
 839: 694,
 840: 695,
 841: 696,
 842: 697,
 843: 698,
 844: 699,
 845: 700,
 846: 701,
 847: 702,
 848: 703,
 849: 704,
 850: 705,
 851: 706,
 854: 707,
 855: 708,
 857: 709,
 858: 710,
 860: 711,
 862: 712,
 864: 713,
 865: 714,
 866: 715,
 867: 716,
 869: 717,
 870: 718,
 871: 719,
 872: 720,
 873: 721,
 874: 722,
 875: 723,
 877: 724,
 878: 725,
 879: 726,
 885: 727,
 887: 728,
 888: 729,
 890: 730,
 892: 731,
 893: 732,
 894: 733,
 895: 734,
 896: 735,
 897: 736,
 898: 737,
 899: 738,
 900: 739,
 901: 740,
 902: 741,
 903: 742,
 904: 743,
 905: 744,
 906: 745,
 907: 746,
 909: 747,
 910: 748,
 911: 749,
 912: 750,
 913: 751,
 914: 752,
 915: 753,
 916: 754,
 917: 755,
 918: 756,
 919: 757,
 920: 758,
 921: 759,
 922: 760,
 923: 761,
 924: 762,
 925: 763,
 926: 764,
 927: 765,
 928: 766,
 929: 767,
 930: 768,
 931: 769,
 932: 770,
 933: 771,
 935: 772,
 936: 773,
 937: 774,
 939: 775,
 940: 776,
 941: 777,
 942: 778,
 943: 779,
 944: 780,
 945: 781,
 946: 782,
 947: 783,
 948: 784,
 949: 785,
 950: 786,
 951: 787,
 952: 788,
 953: 789,
 954: 790,
 955: 791,
 956: 792,
 957: 793,
 959: 794,
 960: 795,
 961: 796,
 962: 797,
 963: 798,
 964: 799,
 965: 800,
 966: 801,
 967: 802,
 968: 803,
 969: 804,
 970: 805,
 971: 806,
 972: 807,
 973: 808,
 974: 809,
 975: 810,
 976: 811,
 977: 812,
 978: 813,
 979: 814,
 980: 815,
 981: 816,
 982: 817,
 983: 818,
 984: 819,
 985: 820,
 986: 821,
 987: 822,
 988: 823,
 989: 824,
 990: 825,
 991: 826,
 992: 827,
 993: 828,
 994: 829,
 995: 830,
 996: 831,
 997: 832,
 998: 833,
 999: 834,
 1000: 835,
 1001: 836,
 1002: 837,
 1003: 838,
 1004: 839,
 1005: 840,
 1007: 841,
 1008: 842,
 1009: 843,
 1010: 844,
 1011: 845,
 1012: 846,
 1013: 847,
 1014: 848,
 1015: 849,
 1016: 850,
 1018: 851,
 1019: 852,
 1020: 853,
 1021: 854,
 1022: 855,
 1023: 856,
 1024: 857,
 1025: 858,
 1026: 859,
 1027: 860,
 1028: 861,
 1029: 862,
 1030: 863,
 1031: 864,
 1032: 865,
 1033: 866,
 1034: 867,
 1035: 868,
 1036: 869,
 1037: 870,
 1038: 871,
 1039: 872,
 1040: 873,
 1041: 874,
 1042: 875,
 1043: 876,
 1044: 877,
 1045: 878,
 1046: 879,
 1047: 880,
 1048: 881,
 1049: 882,
 1050: 883,
 1051: 884,
 1052: 885,
 1053: 886,
 1054: 887,
 1055: 888,
 1056: 889,
 1057: 890,
 1058: 891,
 1059: 892,
 1060: 893,
 1061: 894,
 1062: 895,
 1063: 896,
 1064: 897,
 1065: 898,
 1067: 899,
 1068: 900,
 1069: 901,
 1070: 902,
 1071: 903,
 1072: 904,
 1073: 905,
 1074: 906,
 1075: 907,
 1076: 908,
 1077: 909,
 1078: 910,
 1079: 911,
 1080: 912,
 1081: 913,
 1082: 914,
 1083: 915,
 1084: 916,
 1085: 917,
 1086: 918,
 1087: 919,
 1088: 920,
 1089: 921,
 1090: 922,
 1091: 923,
 1092: 924,
 1093: 925,
 1094: 926,
 1095: 927,
 1096: 928,
 1097: 929,
 1099: 930,
 1100: 931,
 1101: 932,
 1102: 933,
 1103: 934,
 1104: 935,
 1105: 936,
 1106: 937,
 1108: 938,
 1109: 939,
 1110: 940,
 1111: 941,
 1112: 942,
 1113: 943,
 1114: 944,
 1115: 945,
 1116: 946,
 1117: 947,
 1118: 948,
 1119: 949,
 1120: 950,
 1121: 951,
 1122: 952,
 1123: 953,
 1124: 954,
 1125: 955,
 1128: 956,
 1129: 957,
 1130: 958,
 1131: 959,
 1132: 960,
 1134: 961,
 1135: 962,
 1137: 963,
 1138: 964,
 1139: 965,
 1140: 966,
 1142: 967,
 1143: 968,
 1144: 969,
 1145: 970,
 1146: 971,
 1147: 972,
 1148: 973,
 1149: 974,
 1150: 975,
 1152: 976,
 1153: 977,
 1154: 978,
 1155: 979,
 1156: 980,
 1157: 981,
 1158: 982,
 1160: 983,
 1161: 984,
 1162: 985,
 1163: 986,
 1164: 987,
 1165: 988,
 1166: 989,
 1168: 990,
 1169: 991,
 1170: 992,
 1171: 993,
 1172: 994,
 1173: 995,
 1174: 996,
 1175: 997,
 1176: 998,
 1177: 999,
 ...}

In [ ]:
user_new_idx2raw_idx

In [ ]:
import json
user_idx_dict = {
    'raw2new': user_raw_idx2new_idx,
    'new2raw': user_new_idx2raw_idx
}
with open('./data/user_idx_transfer.json', 'w') as f:
    json.dump(user_idx_dict, f, indent=2)

In [ ]:
# 生成字典
sorted_item_idx_lst = sorted(rating_df.item.value_counts().index)
sorted_item_idx_lst

In [ ]:
item_raw_idx2new_idx = {}
item_new_idx2raw_idx = {}
for i in range(len(sorted_item_idx_lst)):
    raw_id = sorted_item_idx_lst[i]
    new_id = int(i_array[i])
    item_raw_idx2new_idx[raw_id] = new_id
    item_new_idx2raw_idx[new_id] = raw_id

In [ ]:
item_raw_idx2new_idx

In [ ]:
item_new_idx2raw_idx

In [ ]:
item_idx_dict = {
    'raw2new': item_raw_idx2new_idx,
    'new2raw': item_new_idx2raw_idx
}
with open('./data/item_idx_transfer.json', 'w') as f:
    json.dump(item_idx_dict, f, indent=2)

# 将原始数据的idx替换

In [100]:
new_rating_df = rating_df.copy()

In [101]:
new_rating_df

         user   item  rating
0           1    104     2.0
1           1    106     5.0
2           1    107     5.0
3           1    108     5.0
4           1    109     3.0
...       ...    ...     ...
273974  43486  19679     2.0
273975  43486    363     3.0
273976  43486  44038     2.0
273977  43486  61575     5.0
273978  43486  66546     5.0

[273979 rows x 3 columns]

In [103]:
new_rating_df['user'] = new_rating_df['user'].apply(lambda x: user_raw_idx2new_idx[x])
new_rating_df

        user   item  rating
0          0    104     2.0
1          0    106     5.0
2          0    107     5.0
3          0    108     5.0
4          0    109     3.0
...      ...    ...     ...
273974  7967  19679     2.0
273975  7967    363     3.0
273976  7967  44038     2.0
273977  7967  61575     5.0
273978  7967  66546     5.0

[273979 rows x 3 columns]

In [104]:
new_rating_df['item'] = new_rating_df['item'].apply(lambda x: item_raw_idx2new_idx[x])
new_rating_df

        user   item  rating
0          0   7985     2.0
1          0   7986     5.0
2          0   7987     5.0
3          0   7988     5.0
4          0   7989     3.0
...      ...    ...     ...
273974  7967  15068     2.0
273975  7967   8072     3.0
273976  7967  20443     2.0
273977  7967  23673     5.0
273978  7967  24399     5.0

[273979 rows x 3 columns]

In [107]:
new_rating_df.to_csv('./data/rating_data.csv', index=False, header=True)

In [109]:
new_link_df = link_df.copy()
new_link_df

        user1  user2  weight
0        2824   2696     1.0
1        2824  18333     1.0
2        2824  10308     1.0
3        2824   1176     1.0
4        2824    208     1.0
...       ...    ...     ...
303308    615   1294     1.0
303309    615   1096     1.0
303310    615    145     1.0
303311    615   1499     1.0
303312    615    330     1.0

[303313 rows x 3 columns]

In [110]:
new_link_df['user1'] = new_link_df['user1'].apply(lambda x: user_raw_idx2new_idx[x])
new_link_df

        user1  user2  weight
0        2178   2696     1.0
1        2178  18333     1.0
2        2178  10308     1.0
3        2178   1176     1.0
4        2178    208     1.0
...       ...    ...     ...
303308    497   1294     1.0
303309    497   1096     1.0
303310    497    145     1.0
303311    497   1499     1.0
303312    497    330     1.0

[303313 rows x 3 columns]

In [111]:
new_link_df['user2'] = new_link_df['user2'].apply(lambda x: user_raw_idx2new_idx[x])
new_link_df

        user1  user2  weight
0        2178   2094     1.0
1        2178   6986     1.0
2        2178   5403     1.0
3        2178    998     1.0
4        2178    160     1.0
...       ...    ...     ...
303308    497   1088     1.0
303309    497    928     1.0
303310    497    107     1.0
303311    497   1221     1.0
303312    497    267     1.0

[303313 rows x 3 columns]

In [114]:
new_link_df.to_csv('./data/link_data.csv', index=False, header=True)